bin/Debug/net6.0/jaySharp.dll
bin/Debug/net6.0/jaySharp.dll
bin/Debug/net6.0/jaySharp.pdb
obj/Debug/net6.0/jaySharp.dll
obj/Debug/net6.0/jaySharp.pdb
obj/Debug/net6.0/ref/jaySharp.dll
obj/Debug/net6.0/refint/jaySharp.dll
